# coding: utf-8

"""
    Selling Partner API for Catalog Items

    The Selling Partner API for Catalog Items helps you programmatically retrieve item details for items in the catalog.  # noqa: E501

    OpenAPI spec version: v0
    
    Generated by: https://github.com/swagger-api/swagger-codegen.git
"""

from __future__ import absolute_import

import re  # noqa: F401

# python 2 and python 3 compatibility library
import six

from swagger_client.api_client import ApiClient


class SolicitationsApi(object):
    """NOTE: This class is auto generated by the swagger code generator program.

    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        if api_client is None:
            api_client = ApiClient()
        self.api_client = api_client

    def create_product_review_and_seller_feedback_solicitation(self, , , **kwargs):  # noqa: E501
        """create_product_review_and_seller_feedback_solicitation  # noqa: E501

        Sends a solicitation to a buyer asking for seller feedback and a product review for the specified order. Send only one productReviewAndSellerFeedback or free form proactive message per order.  **Usage Plan:**  | Rate (requests per second) | Burst | | ---- | ---- | | 1 | 5 |  For more information, see \"Usage Plans and Rate Limits\" in the Selling Partner API documentation.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.create_product_review_and_seller_feedback_solicitation(, , async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param  : An Amazon order identifier. This specifies the order for which a solicitation is sent. (required)
        :param  : A marketplace identifier. This specifies the marketplace in which the order was placed. Only one marketplace can be specified. (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.create_product_review_and_seller_feedback_solicitation_with_http_info(, , **kwargs)  # noqa: E501
        else:
            (data) = self.create_product_review_and_seller_feedback_solicitation_with_http_info(, , **kwargs)  # noqa: E501
            return data

    def create_product_review_and_seller_feedback_solicitation_with_http_info(self, , , **kwargs):  # noqa: E501
        """create_product_review_and_seller_feedback_solicitation  # noqa: E501

        Sends a solicitation to a buyer asking for seller feedback and a product review for the specified order. Send only one productReviewAndSellerFeedback or free form proactive message per order.  **Usage Plan:**  | Rate (requests per second) | Burst | | ---- | ---- | | 1 | 5 |  For more information, see \"Usage Plans and Rate Limits\" in the Selling Partner API documentation.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.create_product_review_and_seller_feedback_solicitation_with_http_info(, , async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param  : An Amazon order identifier. This specifies the order for which a solicitation is sent. (required)
        :param  : A marketplace identifier. This specifies the marketplace in which the order was placed. Only one marketplace can be specified. (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['', '']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method create_product_review_and_seller_feedback_solicitation" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter '' is set
        if ('' not in params or
                params[''] is None):
            raise ValueError("Missing the required parameter `` when calling `create_product_review_and_seller_feedback_solicitation`")  # noqa: E501
        # verify the required parameter '' is set
        if ('' not in params or
                params[''] is None):
            raise ValueError("Missing the required parameter `` when calling `create_product_review_and_seller_feedback_solicitation`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if '' in params:
            path_params['amazonOrderId'] = params['']  # noqa: E501

        query_params = []
        if '' in params:
            query_params.append(('marketplaceIds', params['']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/solicitations/v1/orders/{amazonOrderId}/solicitations/productReviewAndSellerFeedback', 'POST',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)

    def get_solicitation_actions_for_order(self, , , **kwargs):  # noqa: E501
        """get_solicitation_actions_for_order  # noqa: E501

        Returns a list of solicitation types that are available for an order that you specify. A solicitation type is represented by an actions object, which contains a path and query parameter(s). You can use the path and parameter(s) to call an operation that sends a solicitation. Currently only the productReviewAndSellerFeedbackSolicitation solicitation type is available.  **Usage Plan:**  | Rate (requests per second) | Burst | | ---- | ---- | | 1 | 5 |  For more information, see \"Usage Plans and Rate Limits\" in the Selling Partner API documentation.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_solicitation_actions_for_order(, , async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param  : An Amazon order identifier. This specifies the order for which you want a list of available solicitation types. (required)
        :param  : A marketplace identifier. This specifies the marketplace in which the order was placed. Only one marketplace can be specified. (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """
        kwargs['_return_http_data_only'] = True
        if kwargs.get('async_req'):
            return self.get_solicitation_actions_for_order_with_http_info(, , **kwargs)  # noqa: E501
        else:
            (data) = self.get_solicitation_actions_for_order_with_http_info(, , **kwargs)  # noqa: E501
            return data

    def get_solicitation_actions_for_order_with_http_info(self, , , **kwargs):  # noqa: E501
        """get_solicitation_actions_for_order  # noqa: E501

        Returns a list of solicitation types that are available for an order that you specify. A solicitation type is represented by an actions object, which contains a path and query parameter(s). You can use the path and parameter(s) to call an operation that sends a solicitation. Currently only the productReviewAndSellerFeedbackSolicitation solicitation type is available.  **Usage Plan:**  | Rate (requests per second) | Burst | | ---- | ---- | | 1 | 5 |  For more information, see \"Usage Plans and Rate Limits\" in the Selling Partner API documentation.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True
        >>> thread = api.get_solicitation_actions_for_order_with_http_info(, , async_req=True)
        >>> result = thread.get()

        :param async_req bool
        :param  : An Amazon order identifier. This specifies the order for which you want a list of available solicitation types. (required)
        :param  : A marketplace identifier. This specifies the marketplace in which the order was placed. Only one marketplace can be specified. (required)
        :return: None
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['', '']  # noqa: E501
        all_params.append('async_req')
        all_params.append('_return_http_data_only')
        all_params.append('_preload_content')
        all_params.append('_request_timeout')

        params = locals()
        for key, val in six.iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_solicitation_actions_for_order" % key
                )
            params[key] = val
        del params['kwargs']
        # verify the required parameter '' is set
        if ('' not in params or
                params[''] is None):
            raise ValueError("Missing the required parameter `` when calling `get_solicitation_actions_for_order`")  # noqa: E501
        # verify the required parameter '' is set
        if ('' not in params or
                params[''] is None):
            raise ValueError("Missing the required parameter `` when calling `get_solicitation_actions_for_order`")  # noqa: E501

        collection_formats = {}

        path_params = {}
        if '' in params:
            path_params['amazonOrderId'] = params['']  # noqa: E501

        query_params = []
        if '' in params:
            query_params.append(('marketplaceIds', params['']))  # noqa: E501

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        # Authentication setting
        auth_settings = []  # noqa: E501

        return self.api_client.call_api(
            '/solicitations/v1/orders/{amazonOrderId}', 'GET',
            path_params,
            query_params,
            header_params,
            body=body_params,
            post_params=form_params,
            files=local_var_files,
            response_type=None,  # noqa: E501
            auth_settings=auth_settings,
            async_req=params.get('async_req'),
            _return_http_data_only=params.get('_return_http_data_only'),
            _preload_content=params.get('_preload_content', True),
            _request_timeout=params.get('_request_timeout'),
            collection_formats=collection_formats)
